#!/bin/bash

# .config/gnome-terminal-profiles.dconf hash:
#   {{ include "dot_config/private_gnome-control-center/private_backgrounds/gnome-terminal-profiles-backup.txt" | sha256sum }}
if command -v dconf &> /dev/null; then
  dconf load /org/gnome/terminal/legacy/profiles:/ \
    < {{ joinPath .chezmoi.sourceDir "dot_config/private_gnome-control-center/private_backgrounds/gnome-terminal-profiles-backup.txt" | quote }}
fi
